<div class="jumbotron">
    <h1>Revolutionize your Resolutions</h1>
    <p class="lead">
        Set SMART goals and track them effortlessly.
    </p>
    <p>
        <a class="btn btn-lg btn-success" ng-href="#/">
            Splendid!<span class="glyphicon glyphicon-ok"></span>
        </a>
    </p>
</div>

<div class="row marketing">
    <h4>Guided goal setting</h4>
    <p>
        <p>The key to meeting goals is to clearly define what you want to
        accomplish, why you want to accomplish it, and how you will achieve it.</p>
        <p>Resolutionizer provides you with simple to understand steps for
            defining your goals.</p>
    </p>

    <h4>Effortless tracking</h4>
    <p>
        By linking your existing tracking services with your Resolutionizer, we
        will automatically update your progress based off of your existing habits.
    </p>

    <h4>Beautiful dashboard</h4>
    <p>
        As you work to achive your goals you'll be presented with beautiful
        visualizations of your progress.
    </p>
</div>
