<div class="jumbotron">
    <h1>Revolutionize your Resolutions</h1>
    <p class="lead">
        Set SMART goals and track them effortlessly.
    </p>
    <p>
        <a class="btn btn-lg btn-success" ng-href="#/">
            Splendid!<span class="glyphicon glyphicon-ok"></span>
        </a>
    </p>
</div>

<div class="row marketing">
    <div ng-repeat="feature in features">
        <h4>{{feature.feature}}</h4>
        <p>
            <p ng-repeat="paragraph in feature.paragraphs">
                {{paragraph}}
            </p>
        </p>
    </div>
</div>
